# Bytecode Python
*.pyc
__pycache__/

# Ambiente Virtual
venv/

# Banco de Dados (caso use SQLite em testes locais)
*.sqlite3

# Migrações (opcional ignorar se quiser versionar migrações)
**/migrations/
!**/migrations/__init__.py

# Configuração local (como variáveis de ambiente)
*.env

# Logs
*.log